@charset "UTF-8";
.portada {
  position: relative;
  height: 90vh;
  background: url(../img/background-portada.jpg)no-repeat center center / cover;
  z-index: 1;
  background-attachment: fixed;
}


.portada::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background: -webkit-linear-gradient(150deg, rgba(72,202,32, 0.49) 15%, rgba(46,74,122, 0.69) 70%, rgba(55,56,104, 0.49) 94%);
  

}

 header {
  height: 4.5rem;
  width: 100%;
  background: #fefefe;
}

 header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 
}

header .contenedor .container-menu{
  margin-top: 20px;
  
}

/* .portada header .logotipo {
  display: inline-block;
  margin-top: 30px;
} */


header .contenedor .container-menu  .menu-list li{
  display: inline-block;
}

header .contenedor .container-menu  .menu-list li a{
  display: inline-block;
  margin-left: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #343434;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-size: 0.9em;
  padding-bottom: 9px;
}

header .contenedor .container-menu  .menu-list li:nth-child(6) a{
  border-radius: 4px;
  text-decoration: none;
  border: none;
  font-family: 'Roboto';
  cursor: pointer;
  color: #f5f5f5;
  padding: 8px 16px;
  font-size: 16px;
  background: #373868;
  text-align: center;
}

 
.fixed{
  position:fixed; 
  top:0; 
  z-index: 1000;
  box-shadow: 0px 3px 19px -15px rgba(0,0,0,0.75);
  
   
}




.portada .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.portada .contenedor .textos {
  width: 70%;
  text-align: center;
}

.portada .contenedor .logo img {
  width: 40%;
  
}



.portada .contenedor .textos .descripcion {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.6em;
  font-family: 'Montserrat';
  margin: 20px 0;
  color: #fff;
}



.portada .contenedor .textos .store {
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.portada .contenedor .textos .app-store {
  
  color: #F7F7F7;
  padding: 6px 12px;
  font-size: 2.5em;
 
}



.portada .contenedor .textos .gplay {
  color: #F7F7F7;
  padding: 6px 12px;
  font-size: 2.5em;
}




.about-us {
  padding: 100px 0;
}

.about-us .contenedor .title {
  text-align: center;
  margin-bottom: 1em;
  color: #373868;
  font-size: 28px;
  font-family: 'Roboto';
}



.about-us .contenedor  .about{
  width: 80%;
  margin: auto;
  padding-bottom: 2em;
}




.about-us .contenedor  .about .content {
  margin-bottom: 20px; 
  text-align: center;
  color: #3A3A3A;
  font-size: 0.9em;
  font-family: 'Roboto';
  line-height: 24px;
}







.about-us .contenedor .feature{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.about-us .contenedor .feature .skills{
  width: 23%;
  
  

}


.about-us .contenedor .feature .skill{
 
  text-align: center;
  background: #f9f9f9;
  padding: 1em;
  border-radius: 2px;
  color: #787878;
  box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
  -webkit-transition: all 0.3s ease-in;

}



.about-us .contenedor .feature .skills .skill .title-skill{
  margin: 0.6em 0 1em 0;
  color: #373868;
}

.about-us .contenedor .feature .skills .skill img{
  width: 25%;

  
}

.about-us .contenedor .feature .skills .skill p{
  margin-bottom: 10px;
  font-size: 0.9em;
  line-height: 27px;

  
}

.about-us .contenedor .feature .skills:hover{
  -webkit-box-shadow: 0 1px 2px rgba(212, 212, 212, 0.55);
  box-shadow: 0 1px 2px rgba(212, 212, 212, 0.55);
  cursor: pointer;

  
}


.about-us .contenedor .feature .skills .line{
  width: 100%;
  height: 2px;
  background: #6541c1;
  background: linear-gradient(150deg, #265C8B 15%, #28DC07 70%, #28DC07 94%);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .4s ease;

  
}

.about-us .contenedor .feature .skills:hover .line{
  -webkit-transform: scale(1);
  transform: scale(1);

  
}

.feature-DonPan {
  background: #f9f9f9;
  padding: 100px 0;
}

.feature-DonPan .contenedor .title {
  text-align: center;
  margin-bottom: 80px;
  color: #373868;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.feature-DonPan .contenedor .contenedor-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;

  
}

.feature-DonPan .contenedor .contenedor-feature .phone{
  width: 27%;
  margin-right: 2em;
}
.feature-DonPan .contenedor .contenedor-feature .phone img{
  width: 100%;
}

.feature-DonPan .contenedor .contenedor-feature .features{
  display: flex;
  width: 65%;
  cursor: pointer;
  
  
}

.feature-DonPan .contenedor .contenedor-feature .features .feature-section{
  display: flex;
  align-items: flex-start;
  margin-bottom: 5em;
  
  
}

.feature-DonPan .contenedor .contenedor-feature .features .col1, .col2{
  width: 50%;
  
  
}

.feature-DonPan .contenedor .contenedor-feature .features .feature-section .icon-feature{
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  font-size: 1.2em;
  text-align: center;
  min-width: 2.75rem;
  min-height: 2.75rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12);
  color: inherit;
  transition: all 0.3s ease-in;
  background: #281483;
  color: #fff;

  
}

.feature-DonPan .contenedor .contenedor-feature .features .feature-section:hover .icon-feature{
  border-radius: 50%;
  

  
}


.feature-DonPan .contenedor .contenedor-feature .features .feature{
  width: 65%;
}


.feature-DonPan .contenedor .contenedor-feature .features img{
  width: 15%;
}

.feature-DonPan .contenedor .contenedor-feature .features .feature .title-feature{
  font-size: 1em;
  line-height: 22px;
  margin-bottom: 5px;
}

.feature-DonPan .contenedor .contenedor-feature .features .feature p {
  color: #787878;
  font-size: 0.9em;
  line-height: 1.75em;
}


.download {

  position: relative;
  background: url(../img/bg-download.jpg)no-repeat center center / cover;
  z-index: 1;
  
  
  
}

.download::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  background: -webkit-linear-gradient(150deg, rgba(38,92,139, 0.76) 15%, rgba(46,74,122, 0.89) 70%, rgba(55,56,104, 0.74) 94%);
} 

.download .contenedor{
  padding: 80px 0;
}


.download .contenedor .title {
  text-align: center;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 28px;
  margin-bottom: 24px;
  font-weight: 700;
}

.download .contenedor .info-app {
  margin: auto;
  font-family: 'Roboto';
  text-align: center;
  margin-bottom: 2em;
  color: #fff;
  line-height: 30px;
 
}

.download .contenedor .download-app-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.download .contenedor .download-app-button .download-btn{
  display: flex;
  align-items: center;
  border: 1px solid #fff;

  margin-right: 20px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 5px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}


/* .download .contenedor .download-app-button .download-btn:hover{
  background: #fff;
  color: #373868;
} */
.download .contenedor .download-app-button .download-btn .icon{
  font-size: 28px;
  line-height: 28px;
  margin-right: 10px;
  color: #fff;
  
  
  
  
}

.download .contenedor .download-app-button .download-btn p{
  color: #fff;
  /* color: transparent;
  background: linear-gradient(to bottom, #265C8B 15%, #2E4A7A 70%, #373868 94%);
  -webkit-background-clip: text;
  background-clip: text; */
  
  
  
  
}

.contacts {
  
  padding: 90px 0;
  width: 100%;
}

.contacts .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contacts .contenedor .contact {
  width: 41%;
}

.contacts .contenedor .contact .contact-us h3 {
  font-weight: 700;
  font-family: 'Montserrat';
  font-size: 1.5em;
  line-height: 35px;
  color: #373868;
}

.contacts .contenedor .contact .contact-us p {
  max-width: 650px;
  margin-top: 20px;
  color: #787878;
  font-size: 0.9em;
  line-height: 1.75em;
  text-align: left;
}

.contacts .contenedor .contact .contact-us {
  margin-bottom: 50px;
}





.contacts .contenedor .contact .title-location {
 
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  color: #373868;
}

.contacts .contenedor .contact .location {
  margin-bottom: 30px;
}

.contacts .contenedor .contact .location .calle {
  
  line-height: 1.75em;
  font-size: 0.9em;
  color: #787878;
  text-align: left;
  margin-bottom: 0.9em;
}

.contacts .contenedor .contact .location .icon-phone {
  margin-right: 5px;
 
  
}

.contacts .contenedor .contact .location .email span a {
  color: #373868;

}

.contacts .contenedor .contact .location span{
 
  font-size: 0.9em;
  color: #787878;
  text-align: left;
  line-height: 1.75em;
}




.contacts .contenedor .formulario {
  width: 55%;
}

.contacts .contenedor .formulario h6 {
  color: #373868;;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'Montserrat';
}


.contacts .contenedor .formulario .row {
  display: flex;
  justify-content: space-between;
  
}

.contacts .contenedor .formulario .row .form-control:focus {
  outline: none;
  box-shadow: none;
}




.contacts .contenedor .formulario input[type="text"], .contacts .contenedor .formulario input[type="email"], .contacts .contenedor .formulario textarea {
  border: none; 
  margin-bottom: 20px;
  border-radius: 2px;
  background: #f8f8f8;
  padding: 10px 10px 10px 12px;
  width: 260px;
  font-size: 0.9em;
  color: #787878;
  
}

.contacts .contenedor .formulario textarea {
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 160px;
  max-height: 150px;
  margin-bottom: 20px;
}

.contacts .contenedor .formulario .button {
  margin-top: 20px;
  text-align: right;
  width: 100%;
}

.contacts .contenedor .formulario .boton {
  padding: 2px 30px;
  border: 2px solid #281483;
  background-color: #281483;
  color: #fff;
  font: 600 14px/30px 'Montserrat', sans-serif;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  letter-spacing: 0.5px;
  border-radius: 4px;
}

.contacts .contenedor .formulario .boton:hover {
  background: #fff;
  color: #281483;
 
}

footer{
  padding: 60px 0;
  background: #373868;
}


footer .contenedor .row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


footer .contenedor .row  img{
  width: 20%;

}

footer .contenedor .row .social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.9em 0;

}



footer .contenedor .row .social-list ul li{
  padding: 2px;
  
  
}

footer .contenedor .row .social-list ul li a{
  width: 40px;
  height: 40px;
  border: 1px solid #f9f9f9;
  border-radius: 100%;
  transition: all 0.3s ease-in;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
  box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #373868;
  
}

footer .contenedor .row .social-list ul li a .social{
  
  color: #373868;
  margin: auto;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  background: linear-gradient(150deg,#281483 15%,#8f6ed5 70%,#d782d9 94%);
  -webkit-background-clip: text;
  transition: all 0.3s ease-in;
}

footer .contenedor .row .copyright{
  
  color: #fff;
}

footer .contenedor .row .copyright a{
  
  color: #f5f5f5;

}


/* custom contacts */
@media screen and (max-width: 1080px) {

.contacts .contenedor .formulario input[type="text"], .contacts .contenedor .formulario input[type="email"]{
  width: 240px;
}

}

@media screen and (max-width: 990px) {

  .contacts .contenedor{
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .contacts .contenedor .formulario{
    
    width: 100%;
  }

  .contacts .contenedor .contact{
    
    width: 100%;
  }

  .contacts .contenedor .formulario input[type="text"], .contacts .contenedor .formulario input[type="email"]{
    width: 370px;
  }
  
  
}
  
@media screen and (max-width: 940px) {


  .contacts .contenedor .formulario input[type="text"], .contacts .contenedor .formulario input[type="email"]{
    width: 350px;
  }

  footer .contenedor .row img {
    width: 30%;
  }
  
}


/* custom header,aboutus,feature and contacts */


@media screen and (max-width: 900px) {

  /* header-menu */

  header .contenedor .container-menu #menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
    
  }
  
  
  #menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 25px;
  }
  
  #menu-wrapper #hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: #000;
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
  }
  
  #menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
  }
  
  #menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
  }
  #menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
  }
  
  #menu-wrapper #hamburger-menu.open span:nth-child(1) {
      transform: translateY(9px) rotate(135deg);
  }
  #menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
  }
  #menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
  }

  header .contenedor .container-menu{
    width: 100%;
    margin-top: 0;
  }
  
  header .contenedor .container-menu .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    
    background: #373868;;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 1309;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
    padding: 20px;
    height: 30vh;
  }

  header .contenedor .container-menu .menu-list li{
    display: block;
    width: 50%;
  }
  
  
  header .contenedor .container-menu .menu-list li a{
    color: #f4f4f4;
    padding: 10px;
  }


  header .contenedor .container-menu  .menu-list li:nth-child(6) a{
 
    color: #373868;
    
    background: #f5f5f5;

  }

  /* portada */

  .portada .contenedor .logo img {
    width: 50%;
    
  }


  /* aboutUs */

  .about-us .contenedor{
    width: 80%;
    
  }

  .about-us .contenedor .feature .skills{
    width: 48%;
    
    
  
  }
  .about-us .contenedor .feature .skills .skill{
    margin-top: 1.5em;
  
  }

  .about-us .contenedor .feature .skills .skill img{
    width: 15%;
  
    
  }


  /* feature */

  .feature-DonPan .contenedor{
   
    width: 80%;

  }

  .feature-DonPan .contenedor .contenedor-feature .phone{
    display: none;
  }

  .feature-DonPan .contenedor .contenedor-feature .features{
    width: 100%;

  }

  /* contacts */

  .contacts .contenedor .formulario .row{
    display: flex;
    flex-direction: column;

  } 
  .contacts .contenedor .formulario .row .form-group .form-control{
    width: 100%;

  }

  
}

@media screen and (max-width: 768px){

  .portada .contenedor .logo img {
    width: 60%;
    
  }

  /* aboutUs */

  .about-us .contenedor .feature{
    display: flex;
    flex-direction: column;
    
  }
  .about-us .contenedor .feature .skills{
    width: 100%;
    
  }

  .about-us .contenedor .feature .skills .skill img{
    width: 8%;
    
  }

  /* feature */

  .feature-DonPan .contenedor .contenedor-feature .features{
    display: flex;
    flex-direction: column;

  }
  .feature-DonPan .contenedor .contenedor-feature .features .col1, .col2{
    width: 100%;

  }
  .feature-DonPan .contenedor .contenedor-feature .features .feature{
    width: 100%;

  }

  /* footer */

  footer .contenedor .row img {
    width: 35%;
  }


}

@media screen and (max-width: 600px){
  .portada .contenedor .logo img {
    width: 70%;
    
  }

  .portada .contenedor .textos .descripcion {

    font-size: 1.3em;
  }

  footer .contenedor .row img {
    width: 45%;
  }
}